<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/formularios.css">
  <title>Login</title>
  <script src="https://kit.fontawesome.com/9ab573c9fb.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="content">

    <div class="img">
      <img src="/IMG/Computer login-rafiki 1.svg" alt="">
    </div>

    <div class="login">

      <p class="titulo">BEM-VINDO!</p>
      <hr>
      <p class="sub">Entre na sua conta</p>

      <form method="post">

        <div>
          <input type="text" name="doc" placeholder="CPF">
        </div>

        <div>
          <input type="password"  name="senha" placeholder="SENHA">
        </div>

      

      <button type="submit">
        ENTRAR
      </button>
      <p class="conta-1">Não possui conta? <a href="~/Usuario/CadastrarUsuario">Crie a sua</a></p>


      

      </form>

    </div>


  </div>
</body>

</html>